
#app {
  @apply w-screen h-screen overflow-hidden;
  @apply m-0 p-0 bg-bg;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  max-width: 100vw;
}

.container {
  @apply w-full h-full mx-auto;
}
